:root {
    --primary-color: rgba(34, 139, 34, 0.8); /* Основной цвет кнопки и заголовка */
    --background-color: rgba(255, 255, 255, 0.9); /* Цвет фона чата */
    --border-color: #007bff; /* Цвет рамки чата и кнопок */
    --text-color: white; /* Цвет текста в заголовке и кнопке закрытия */
    --option-text-color: #007bff; /* Цвет текста на кнопках вариантов */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Цвет тени */
    --header-footer-text: #ffffff; /* White color for header and footer text */
}
  

/* Общие стили */
.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    margin: 10px;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s
  }

/*.chat-btn:hover {
}

  /* Стиль для окна чата */
  .chat-popup {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый */
    backdrop-filter: blur(10px); /* Эффект размытия фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для создания глубины */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slide-in 0.5s forwards;
}
  
  .chat-header, .chat-footer {
    padding: 10px;
    background: rgba(46, 204, 113, 0.8); /* Полупрозрачный градиентный фон */
    color: #fff; /* Цвет текста */
    text-align: center;
    border-top-left-radius: 10px; /* Округление углов */
    border-top-right-radius: 10px; /* Округление углов */
}
  
  .chat-body {
    padding: 20px;
    height: calc(100% - 120px);
    overflow-y: auto;
  }
  
  .predefined-option {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--option-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Анимация для плавного появления окна */
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }